@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IIT University Welcomes You</h1>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current News</h2>
        <marquee direction="up" scrolldelay=10>
            <ul style="list-style-type:square">
                <li>Admissions open for 2023</li>
                 <li>Ph.D registration are open</li>
                  <li><a href="https://www.google.com">Download Brochure here</a></li>
            </ul>
        </marquee>
    </div>

</div>
